body {
  font-family: 'Maven Pro', sans-serif;
  background: rgba(162, 190, 222);
}

.top-spacing{
  margin-top: 90px;
  margin-bottom: 90px;
}
.content{
  background: white;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 60px 40px -7px;
  border-radius: 7px;
  position: relative;
  overflow:hidden
}
.emphazise-btn{
  background : black;
  color: white;
  border-radius: 30px;
}
.mock-1{
  position: absolute;
  transform: rotate(12deg);
  bottom:-350px;
  left:-140px;
}
.mock-2{
  position: absolute;
  transform: rotate(176deg);
  top:-350px;
  right:-120px;
}
.emphazise{
  color: #0f66d4;
}
.emphazise-solid{
    color:#013980;
}
.styled-input{
  border-radius: 10px;
}
.options-btn{
  border-radius: 25px;
  border: 1px solid #0f66d4;
}
.font-small{
  font-family: monospace;
  font-size: 10
}
