body {
  font-family: 'Maven Pro', sans-serif;
  background: rgba(200, 224, 254);
}
.top-spacing{
  margin-top: 100px;
}
.content{
  background: white;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 7px;
}
.emphazise-btn{
  background : #0f66d4;
  color: white;
  border-radius: 30px;
}
.emphazise{
  color: #0f66d4;
}
.emphazise-solid{
    color:#013980;
}
.styled-input{
  border-radius: 10px;
}
.options-btn{
  border-radius: 25px;
  border: 1px solid #0f66d4;
}
.font-small{
  font-family: monospace;
  font-size: 10
}
